/* <named-color> values */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/named-color */
color: red;
color: green;
color: blue;
color: white;
color: black;

/* Hex */
color: #ff0000; /* red */
color: #00ff00; /* green */
color: #0000ff; /* blue */
color: #ffffff; /* white */
color: #000000; /* black */

/* Rgb */
color: rgb(255, 0, 0); /* red */
color: rgb(0, 255, 0); /* green */
color: rgb(0, 0, 255); /* blue */
color: rgb(255, 255, 255); /* white */
color: rgb(0, 0, 0); /* black */

/* HSL */
color: hsl(0, 100%, 50%); /* red */
color: hsl(120, 100%, 50%); /* green */
color: hsl(240, 100%, 50%); /* blue */
color: hsl(0, 0%, 100%); /* white */
color: hsl(0, 0%, 0%); /* black */

/* Hwb */
color: hwb(0, 0%, 0%); /* red */
color: hwb(120, 0%, 0%); /* green */
color: hwb(240, 0%, 0%); /* blue */
color: hwb(0, 0%, 0%); /* white */
color: hwb(0, 0%, 100%); /* black */

/* Oklab */
color: oklab(0.63 0.22 0.13);
color: oklab(0.52 -0.14 0.11);
color: oklab(0.45 -0.03 -0.31);
color: oklab(1 0 0);
color: oklab(0 0 0);


/* Oklch */
/* color: oklch(0.5 0.4 0 0); /* red */ */
/* color: oklch(0.9 0 120 0); /* green */ */
/* color: oklch(0 0.9 240 0); /* blue */ */
/* color: oklch(0.9 0 0 0); /* white */ */
/* color: oklch(0 0 0 0); /* black */ */
